<div class="row">
  <div class="col-md-6">
    <h2>Login</h2>

    <form class="form login-form" id="login-form">
      <div class="form-group">
        <label for="inputEmail">Email Address</label>
        <input type="email" class="form-control" data-form-name="login" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>

      <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" data-form-name="login" id="inputPassword" placeholder="Password">
      </div>

      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
  </div>