<div class="card-collection"></div>
    {{#each Cards}}
        <div class="card">
            <h3>{{this.title}}</h3>
            <p>{{this.description}}</p>
            <p>{{this.tags}}</p>
        </div>
    {{/each}}
</div>