<section class="container">
    <div class="row">
        {{each collections}}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <h5 class="card-body position-relative"></h5> // EMPTY CARD BODY HOLD TITLE AND CONTENT LATER
                <p class="card-text">{{this.description}}</p>


            </div>
        </div>
    </div>
</section>