{{!Sign up page design}}

{{!Create header for sign up page}}
<h1>Sign Up</h1>
{{!Add text box to accept value for Email}}
<div class="Sign-up">
    <textarea class="sign-up-input" id="Sign-up-Email" placeholder="Email:"></textarea>
</div>
{{!Add text box to accept value for Username}}
<div class="Sign-up">
    <textarea class="sign-up-input" id="Sign-up-Username" placeholder="Username:"></textarea>
</div>

{{!Add text box to accept a value for password}}
<div class="Sign-up">
    <textarea class="sign-up-input" id="Sign-up-Password" placeholder="Password:"></textarea>
</div>

{{!Add text box to accept a value for the reentered password}}
<div class="Sign-up">
    <textarea class="sign-up-input" id="Sign-up-RePass" placeholder="Re-enter Password:"></textarea>
</div>

{{!Add button for submission}}
<div class="Sign-up">
    <button id="Sign-up-Submit" type="submit">Sign Up</button>
</div>