{{!Sign up page design}}
<div class="card text-black bg-lightmb-3 h-60 w-80 mx-auto my-5" id="card">
    {{!Create header for sign up page}}
    <div id="header">
        <h1 class="card-header bg-black text-white row mb-3 d-flex justify-content-center mx-auto" style="width;" id="header">Sign Up</h1>
    </div>
        <div class="card-body">
        {{!Add text box to accept value for Email}}
        <div class="row mb-3 d-flex justify-content-center">
            <label for="Sign-up-Email" class="col-sm-2 col-form-label p-3 label" id="label-email">Email:</label>
            <input type="email" class="form-control w-50 p-3" id="Sign-up-Email" placeholder="Email"></input>
        </div>
        {{!Add text box to accept a value for password}}
        <div class="row mb-3 d-flex justify-content-center">
            <label for="Sign-up-Password" class="col-sm-2 col-form-label p-3 label" id="label-password">Password:</label>
            <input type="password" class="form-control w-50 p-3" id="Sign-up-Password" placeholder="Password"></input>
        </div>
        {{!Add text box to accept a value for the reentered password}}
        <div class="row mb-3 d-flex justify-content-center">
            <label for="Sign-up-RePass" class="col-sm-2 col-form-label p-3" id="label-re-password">Re-Enter Password:</label>
            <input type="password" class="form-control w-50 p-3 h-20" id="Sign-up-RePass" placeholder="Re-Enter Password"></input>
        </div>
        {{!Add button for submission}}
        <div class="d-flex justify-content-center">
            <button class="btn btn-primary" id="Sign-up-Submit" type="submit">Sign Up</button>
        </div>
    </div>
</div>
<script src="/js/sign-up-handler.js"></script>
    

