<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <link rel="icon" type="image/x-icon" href="/public/images/favicon.ico" />
</head>
<body>
    <h1>DIGIDEX</h1>

    <h2>Thanks for stopping by! This is digidex, a website for fun facts and information. If you already have an account, you can login via the form to the right.</h2>
    
    <h2>Please log in:</h2>
    {{> login}}
    
    <p>No account? <a href="/signup">sign up here</a>.</p> <!-- Link to sign-in page -->
</body>
</html>