/* * {
    overflow: scroll;
} */

/* body {
    overflow-x: scroll;
} */

#main-container {
  margin: 8vh 4vw 0 4vw;
  min-width: none;
  max-width: none;
}

/* @media (max-width: 1000px){
    
    #main-container {
        margin: 8vh 1vw 0 1vw;
    }
    
    #primary-nav-list {
        font-size: small;
    }
} */

@media (max-width: 1000px) {
  nav {
    background-color: rgb(52, 52, 243);
    /* position: sticky;
        top: 0px;
        overflow: hidden; */
    /* box-sizing: border-box;
        display: flex;
        margin: 0;
        padding: 0; */
  }

  nav * {
    color: white !important;
  }

  #digidex-title {
    display: none;
  }

  #content-body {
    margin-top: 10vh;
  }

  #primary-nav-element {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  #main-container {
    margin: 0;
    padding: 0;
  }

  #main-row {
    padding: 0;
    margin: 0;
  }

  #navigation-column {
    padding: 0;
    margin-bottom: 2vh;
    width: auto;
  }

  /* #primary-nav-list * {
        justify-content: center;
    } */
}

@media (max-width: 415px) {
  nav * {
    font-size: small;
  }

  #search-body-modal-columns-row {
    flex-direction: column !important;
  }
}
