/* Standard height for nav divider */
.nav-divider {
  height: 400px;
}

#search-text-input {
  border: 0px;
  outline: none;
}

.search-tile {
  text-decoration: none;
}

.search-tile-body {
  max-height: 150px;
  overflow: hidden;
}

.welcome-col {
  max-width: 400px;
}

/* YAsemin for spacing between tags */
.badge {
  margin: 0 5px 5px 0; 
}
.collection-tile {
  margin: 10px;
  flex: 1 1 300px; /* Responsive card size */
}



