/* Standard height for nav divider */
.nav-divider {
  height: 400px;
}

/* Float display for "My Account" section */
#my-account-interface {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 10;
  border-bottom: 1px solid black;
  text-align: right;
  min-width: 300px;
}

/* Override standard hyperlink appearance within "My Account" section */
#my-account-dropdown-label {
    color: black;
    text-decoration: none;
}

#search-text-input {
  border: 0px;
  outline: none;
}

.search-tile {
  text-decoration: none;
}

.search-tile-body {
  max-height: 150px;
  overflow: hidden;
}

.welcome-col {
  max-width: 400px;
}