/* Standard height for nav divider */
.nav-divider {
  height: 400px;
}

/* Float display for "My Account" section */
#my-account-interface {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 10;
  border-bottom: 1px solid black;
  text-align: right;
  min-width: 300px;
}

/* Override standard hyperlink appearance within "My Account" section */
#my-account-interface > a {
    color: black;
    text-decoration: none;
}